    :root{
        --PurpleMain: #392F5A;
        --PurpleFaint: #C3BCDC;
        --WhiteMain: #FFF8F0;
        --PurpleRecipeCard: #E7E4F1;
    }
    

    .recepti{
    display: inline-block;
    margin: 0px 0px 100px 15px;
    height: 350px;
    width: 300px;
    } 
    
    .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 5px;
    height: 420px;

    }
    
    .card-container {
    flex: 0 0 240px;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    text-align: center;
    transition: transform 0.3s ease;
    }
    
    .DifficultyName{
        position: relative;
        display: inline-flex;
        color: var(--PurpleMain);
        font-size: 18px;
        line-height: 22px;
        vertical-align: 10%;
        align-items: center;
        text-align: center;
    }

    #CardDifficulty{
        height: 20px;
    }

    .RecipeName{
        padding-top: 10px;
        position: relative;
        display: inline-flex;
        color: var(--WhiteMain);
        font-size: 18px;
        align-items: center;
    }

    .CircleUnRated{
        display: inline-flex;
        height: 15px;
        width: 15px;
        position: relative;
        left: -10px;
        margin-top: 5px;

        background: var(--PurpleFaint);
        border: 2px solid var(--PurpleMain);
        border-radius:50%;
        box-sizing: border-box;
    }

    .CircleRated{
        display: inline-flex;
        height: 15px;
        width: 15px;
        position: relative;
        left: -10px;
        margin-top: 5px;

        background: var(--PurpleMain);
        border: 2px solid var(--PurpleMain);
        border-radius:50%;
        box-sizing: border-box;
    }

    .ReceptImg{
        background-image: url("../kartice/1.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        height: 360px;
        border-radius: 25px 0px 0px 0px;
    }

    #CardLower{
        background-color: var(--PurpleMain);
        border-radius: 0px 0px 25px 0px;
        height: 40px;
    }

    #RecipeInfo{
        background-color: var(--PurpleRecipeCard);
        width:100%;
        height:250px;
        position:relative;
        z-index: -5;
    }

    .RecipeText{
        position: relative;
        display: block;
        color: var(--PurpleMain);
        font-size: 18px;
        line-height: 22px;
        align-items: center;
        text-align: center;
        overflow-wrap: break-word;
        width:240px;
        height:250px;
    }

    #RecipeInfoPad{
        width: 100%;
        height: 110px;
        position:relative;
        z-index: -5;

    }

    .CardAnimated{
        transition: transform .666s;
        transition-timing-function:cubic-bezier();
    }

    .card-container:hover .CardAnimated{
        transform: translateY(250px);
    }