@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');
:root{
    --PurpleMain: #8b0246;
    --PurpleFaint: #dda5c1;
    --WhiteMain: #eed5e1;
    --PurpleRecipeCard: #ffffff;
  }

body{
    background-image: url("../img/Pozadina.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Electrolize', sans-serif;
}
.log-box{
    width: 60%;
    height: 80%;
    background-color: var(--PurpleMain);
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
    font-family: 'Electrolize', sans-serif;
}

.sing_h1{
    font-size: 30px;
    color: white;
    margin-top: 0px;
}
[type=number]{
    display: block;
    margin: 0 auto;
    width: 80%;
    border: 0;
    border-bottom: 1px solid var(--PurpleMain);
    height: 45px;
    line-height: 45px;  
    margin-bottom: 10px;
    font-size: 1em;
    color:  rgba(0,0,0,.4);
    border-radius: 5px;
    padding-left: 10px;
    font-family: 'Electrolize', sans-serif;
  }
  
  [type=password] {
    display: block;
    margin: 0 auto;
    width: 80%;
    border: 0;
    border-bottom: 1px solid var(--PurpleMain);
    height: 45px;
    line-height: 45px;  
    margin-bottom: 10px;
    font-size: 1em;
    border-radius: 5px;
    color: rgba(0,0,0,.4);
    padding-left: 10px;
    font-family: 'Electrolize', sans-serif;
  }
  #pol {
    display: block;
    margin: 0 auto;
    width: 10%;
    border: 0;
    border-bottom: 1px solid var(--PurpleMain);
    height: 45px;
    line-height: 45px;  
    margin-bottom: 10px;
    font-size: 1em;
    color:  rgba(0,0,0,.4);
    border-radius: 5px;
    padding-left: 10px;
    font-family: 'Electrolize', sans-serif;
  }
  .dugme{
    margin-top: 25px;
    width: 50%;
    border: 0;
    background-color:white;
    border-radius: 5px;
    height: 50px;
    color: var(--PurpleMain);
    font-weight: bold;
    font-size: 1em;
    font-family: 'Electrolize', sans-serif;
  }
  .dugme:hover{
    background-color: var(--WhiteMain);
  }

.nazad{
  margin-top: 25px;
  width: 50%;
  border: 0;
  background-color: var(--PurpleMain);
  border-radius: 5px;
  height: 50px;
  color: white;
  font-weight: bold;
  font-size: 1em;
  font-family: 'Electrolize', sans-serif;
}
.nazad:hover{
  background-color: var(--PurpleMain);
}
  [type='text']:focus {
    /*outline: none;*/
    border-color: var(--PurpleMain);
    font-family: 'Electrolize', sans-serif;
  }
  .dugme1{
    margin-top: 25px;
    width: 50%;
    border: 0;
    border-radius: 5px;
    height: 50px;
    color: white;
    font-weight: bold;
    font-size: 1em;
    background-color:var(--PurpleMain);
    border: 2px dashed white;
    padding: 1%;
    text-decoration: none;
    font-family: 'Electrolize', sans-serif;
  }
  .dugme1:hover{
    background-color: #6e073a;
  } 
#dugmenazad{
  margin-top: 25px;
  width: 50%;
  border: 0;
  background-color:white;
  border-radius: 5px;
  height: 50px;
  color: var(--PurpleMain);
  font-weight: bold;
  font-size: 1.1em;
  text-decoration: none;
  padding: 1%;
  font-family: 'Electrolize', sans-serif;
}
#dugmenazad:hover{
  background-color: var(--WhiteMain);
}
#kalorije{
  border: 5px dashed white;
  width: 200px;
  height: 100px;
  overflow:hidden;
  background-color: var(--PurpleMain);
  color: white;
  font-size: 50px;
  padding: 10px;
  font-family: 'Electrolize', sans-serif;
}
