:root{
    --PurpleMain: #8b0246;
    --PurpleFaint: #dda5c1;
    --WhiteMain:  #f7e4ed;
    --PurpleRecipeCard: white;
  }
.pozadina{
    width: 100;

    color: #fff;
    border-radius: 0px 25px 25px 0px;
    margin-top: 60px;
}
.slika{
    padding-top: 75px;
    padding-bottom: 75px;
    height: 600px;
    background: var(--PurpleMain)/*#392F5A*/;
    border-radius: 0px 250px 0px 0px;
    display: flex;
    justify-content: center;
    
}
.prostor{
    display: initial;
}

.opisBitnoTop{
    font-family: "Nunito", sans-serif;
    color: white;
    width: 80%;
    text-align: left;
    vertical-align: middle;
    margin-left: 5%;
    padding-top: 5%;
}

.opisBitno{
    font-family: "Nunito", sans-serif;
    color: white;
    width: 80%;
    text-align: left;
    vertical-align: middle;
    margin-left: 5%;
}

.opis{
    font-family: "Nunito", sans-serif;
    color: white;
    width: 80%;

}
.sastojci{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background: var(--PurpleMain)/*#392F5A*/;
    border-radius: 0px 0px 250px 0px;
}
.lista_sastojaka{
    font-family: "Nunito", sans-serif;
    color: white;
    font-size: 20px;
}
.recept{
    font-family: "Nunito", sans-serif;
    text-align: center;
    color: white;
    font-size: 20px;
}
.priprema{
    font-family: "Nunito", sans-serif;
    color: white;
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.delete-button{
    display: inline-block;
    
    color: var(--PurpleMain)
}

.print-button{
    display: inline-block;
    margin-left: 5%;
    color: var(--PurpleMain)
}