:root{
    --PurpleMain: #8b0246;
    --PurpleFaint: #dda5c1;
    --WhiteMain:  #f7e4ed;
    --PurpleRecipeCard: white;
  }
  *{
    font-family: 'Electrolize', sans-serif;
  }
.pozadina{
    width: 100;

    color: #fff;
    border-radius: 0px 25px 25px 0px;
    margin-top: 60px;
}
.slika{
    padding-top: 75px;
    padding-bottom: 75px;
    height: 600px;
    background: var(--PurpleMain)/*#392F5A*/;
    border-radius: 0px 250px 0px 0px;
    display: flex;
    justify-content: center;
    
    
}
#slika{
    border: 3px dashed white;
    border-radius: 15%;
    box-shadow: 5px 5px 30px black;
}
@media (max-width: 830px) {
    .slika{
        height: 400px;
    }
}
@media (max-width: 555px) {
    .slika{
        height: 350px;
    }
    #slika{
        transform: translateX(-30px);
    }
}
.prostor{
    display: initial;
}

.opisBitnoTop{
    color: white;
    width: 80%;
    text-align: left;
    vertical-align: middle;
    margin-left: 5%;
    padding-top: 5%;
}

.opisBitno{
    color: white;
    width: 80%;
    text-align: left;
    vertical-align: middle;
    margin-left: 5%;
}

.opis{
    color: white;
    width: 80%;

}
.sastojci{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background: var(--PurpleMain)/*#392F5A*/;
    border-radius: 0px 0px 250px 0px;
}
.lista_sastojaka{
    color: white;
    font-size: 20px;
}
.recept{
    text-align: center;
    color: white;
    font-size: 20px;
}
.priprema{
    color: white;
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.delete-button{
    display: inline-block;
    
    color: var(--PurpleMain)
}

.print-button{
    display: inline-block;
    margin-left: 5%;
    color: var(--PurpleMain)
}

#user-name{
    color: white;
    width: 80%;
    text-align: left;
    vertical-align: middle;
    margin-left: 5%;
    padding-top: 5%;
}

#srce{
    font-size:50px;
    margin-left: 5%;
}